body {
    background-color: black;
    color: neo; /* Use a CSS variable or define neon blue */
    font-family: Arial, sans-serif;
}
header div {
    background-color: rgb(0, 4, 7);
    display: flex;
    justify-content: space-between;
}
header h1{
    text-align: left;
    color: aliceblue;
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Helvetica Neue';
    
}
header img{
    height: 120px;
    border-radius: 10px;
    margin-right: 20px;
}
h2{
    color: rgb(195, 195, 195);
    text-align-last: left;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(autofill, minmax(300px,1fr));
    gap: 20px;
    background-color: rgb(76, 79, 81);
}

.car-card {
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.car-card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0c0c0c;
    color: aliceblue;
}